{% extends "base.html" %}

{% block content %}

<!-- rename column -->
<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Rename Column</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="user" action = "{{ 'rename?id=%s'%id|urlencode }}" method = "POST" enctype="multipart/form-data">
                <div class="form-group">
                    <select class="form-control" name="col">
                        {%for x in head%}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="text-area" class="form-control" placeholder="Rename To" name="repl">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit">
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
</div>

<!-- select column -->
<div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select Column</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="user" action = "{{ 'select_col?id=%s'%id|urlencode }}" method = "POST" enctype="multipart/form-data">
                <div class="form-group">
                    <select id="multiple-checkboxes" multiple="multiple" class="form-control" name="cols">
                        {%for x in head%}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit">
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
</div>


<!-- Range Modal-->
<div class="modal fade" id="numFilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="user" action = "{{ 'num_filter?id=%s'%id|urlencode }}" method = "POST" enctype="multipart/form-data">
                <div class="form-group">
                    <select class="form-control" name="col">
                        {%for x in head%}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control" id="exampleFirstName" placeholder="min" name="min">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control " id="exampleLastName" placeholder="max" name="max">
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit">
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
</div>


<!-- Filter Text Modal-->
<div class="modal fade" id="textFilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="user" action = "{{ 'str_filter?id=%s'%id|urlencode }}" method = "POST" enctype="multipart/form-data">
                <div class="form-group">
                    <select class="form-control" name="col">
                        {%for x in head%}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="method">
                        <option value="contains">contains</option>
                        <option value="startswith">startswith</option>
                        <option value="endswith">endswith</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text-area" class="form-control" placeholder="Pattern" name="pat">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit">
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
</div>

<!-- replace Text Modal -->
<div class="modal fade" id="replaceTextModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Replace Text</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="user" action = "{{ 'str_replace?id=%s'%id|urlencode }}" method = "POST" enctype="multipart/form-data">
                <div class="form-group">
                    <select class="form-control" name="col">
                        {%for x in head%}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control" id="exampleFirstName" placeholder="pattern" name="pat">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control " id="exampleLastName" placeholder="Replace with" name="repl">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit">
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}